<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />
    <link rel="stylesheet" href="/stylesheet/style.css" />

    <title>Business Show Page</title>
  </head>
  <body>
    <h1>Here is your business</h1>

    <h3><%= foundBusiness.name %></h3>
    <p><strong>Category:</strong> <%= foundBusiness.category %></p>
    <p><strong>Description:</strong> <%= foundBusiness.description %></p>
    <p><strong>Location:</strong> <%= foundBusiness.location %></p>
    <p><strong>Phone:</strong> <%= foundBusiness.phoneNumber %></p>
    <% if (foundBusiness.website) { %>
    <p>
      <strong>Website:</strong>
      <a href="<%= foundBusiness.website %>" target="_blank"
        ><%= foundBusiness.website %></a
      >
    </p>
    <% } %>
  </body>
</html>
